*{box-sizing: border-box}
body,table{
    border:3px solid red;
    margin: 0px;
}
header,nav,section,aside,footer{
    border: 3px solid black;
    font-family: bebas;
    text-align: center;
}
#logoA{
    width: 150px;
    margin:25px;
    float: left;
}
header{
    width: 100%;
    background-color: skyblue;
    height: 150px;
}
nav{
    width: 20%;
    float: left;
    height: 400px;
    background-color: gray;
}

section{
    width: 60%;
    float: left;
    height: 400px;
    background-color: darkgray;
}
aside{
    width: 20%;
    float: left;
    height: 400px;
    background-color: darkgray;
}
footer{
    width: 100%;
    clear: left;
}
iframe{
    border: none;
    width: 100%;
    height: 100%;
}
@media only screen and (max-width:800px){
    section{
        width:80%;  
    }
    aside{
        width:100%;
    }
}
@media only screen and (max-width:500px){
    nav, section, aside{
        width:100%;
    }
}
.navLink{
    display:block;
    padding-top:6px;
    text-decoration: none;
    border-bottom:1px solid darkgray;
    margin-left:30px;
    text-align:left;
}
a:link{
    color: darkgray;
}
a:hover{
    background-color: darkgray;
    color: white;
    text-shadow: 2px 2px 4px black;
    border-radius: 20px 0px 0px 20px;
    transition: 1s;
    transform: translateX(15px);
    padding-left: 10px;
}
a:visited{
    color: darkgray;
}
a:active{
    color:black;
    box-shadow: 5px 5px 10px black;
    text-shadow: -2px -2px 4px white;
}